adjustText
beautifulsoup4
cartopy
contextily
DrissionPage
folium
geopandas
jieba
jupyter
matplotlib
networkx
numpy
openpyxl
pandas
parsel
plotly
pyecharts
requests
scikit-learn
seaborn
SnowNLP
statsmodels
wordcloud
